.color {
    display: inline-block;
}

.color input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #909090;
    width: 14px;
    height: 14px;
    position: relative;
    cursor: pointer;
}
#cl1{
    width: 16px;
    height: 16px;
    border-radius: 1000px;
    background-color: #ffffff;
}
#cl2{
    border-radius: 1000px;
    background-color: #fcc0b6;
}
#cl3{
    border-radius: 1000px;
    background-color: #9cc3c4;
}
#cl4{
    border-radius: 1000px;
    background-color: #bcd7a7;
}
#cl5{
    border-radius: 1000px;
    background-color: #ff908a;
}