<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabin</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="cabinstyle.css">

    <style>
        
        @media print {

            @page {
                size: A4;
                margin: 0;
            }

            body {
                /* background-size: cover; */
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }
        }

    </style>

</head>

<body>
    <div id="container" class="container">

        <div class="top">

            <div class="header">
                <div class="imgbox">
                    <img id="pic" name="pic" style="border: 0; outline: 0; box-shadow: none;">
                </div>

                <div class="midbot">

                    <div class="mid">

                        <div class="mid1">
                            <h1 id="fname" name="fname"> <span id="lname" name="lname"> </span></h1>
                            <p id="title" name="title"> </p>
                        </div>

                        <div class="mid2">
                            <p name="email" id="email"></p>
                            <p name="phone" id="phone"></p>
                        </div>

                    </div>

                    <div>
                        <p name="address" id="address"></p>
                    </div>

                </div>

            </div>

            <div id="profile" class="profile">
                <p id="about" name="about"></p>
            </div>

            <div id="skills" class="skills">
                <h2>Skills</h2>
                <ul id="skillcontainer">
                </ul>
            </div>

        </div>


        <div class="main-content">

            <div class="sec_left">

                <div id="education" class="education">
                    <h2>Education</h2>
                    <div id="edcontain">
                    </div>
                </div>


                <div id="customs" class="customs">
                    <h2 id="custom"></h2>
                    <ul id="customcontainer">
                    </ul>
                </div>


                <div id="languages" class="languages">
                    <h2>Languages</h2>
                    <ul id="langcontainer">
                    </ul>
                </div>

            </div>


            <div class="sec_right">

                <div id="experience" class="experience">
                    <h2>Experience</h2>
                    <div id="expcontain">
                    </div>
                </div>

                <div id="achievements" class="achievements">
                    <h2 id="sec1"></h2>
                    <div id="sec1contain">
                    </div>
                </div>

                <div id="projects" class="projects">
                    <h2 id="sec2"></h2>
                    <div id="sec2contain">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="cabinscript.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
</body>

</html>