@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');

:root {
    --mainclr: #333;
    --firclr: #333;
    --secclr: #898989;

    --designclr: #9ce1d8;
    --designclr2: #e2fdf9;
}

body {
    width: 880px;
    margin: 0 auto;

    /* font-family: "Playwrite DE Grund", cursive; */
    /* font-family: "Exo", sans-serif; */
    /* font-family: "Kumbh Sans", sans-serif; */
    /* font-family: "Wix Madefor Text", sans-serif; */

    font-family: "Kiwi Maru", serif;

    font-style: normal;
    font-weight: bold;

    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: var(--mainclr);
}

.container {
    width: 880px;

    margin: 0;
    padding: 0;
    background-color: #ffffff;

    display: flex;
    flex-direction: row;
}

.sec_left {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: var(--designclr2);

    overflow: hidden;
}

.sec_right {
    
    display: flex;
    flex-direction: column;
    width: 60%;
    
    overflow: hidden;
}

.lefttop {
    background-color: var(--designclr);
    padding: 2rem 2rem;
    z-index: 1;
    height: 260px;
}

.leftbottom {
    padding: 2rem 2rem;
}

.righttop {
    background-color: var(--designclr2);
    padding: 3rem 2rem;

    height: 228px;
}

.rightbottom {
    padding: 2rem 2rem;
}

.date {
    color: var(--secclr);
}


.skills ul,
.education ul,
.experience ul,
.languages ul,
.customs ul,
.achievements ul,
.projects ul {
    padding: 0;
    list-style-type: circle;
    margin-left: 20px;
}

.languages p {
    margin-top: .2rem;
}

.head h1, .head h3, .head span {
    margin: 0;
    padding: 0;

    line-height: 1.5;

}
.head hr {
    border: 1px solid black;
    width: 4rem;
    float: left;
}

h1 {
    margin: 0;
    padding: 0;

}


p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    padding: .1rem 0rem;
}

h3 {
    margin: 0;
    padding: 0;
    /* line-height: 1.5; */
}

h2 {
    margin: 0;
    padding: 0;
    line-height: 1.7;
}

ul {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

li {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    padding: .2rem 0rem;
}

#about {
    overflow: hidden;
}

.righttop {
    overflow: hidden;
}